body {
    margin: 0%;
    padding: 0%;
}

/*mobile*/
@media (max-width:575px) {

    header {
        display: flex;
        background-color: #00579c;
        color: white;
        align-items: center;
        font-family: sans-serif;
        font-size: small;
        justify-content: space-between;
        padding: 0px 15px 0px 20px;
        height: 8vh;
    }

    header i {
        margin-left: auto;
    }

    .car-title-h3 {
        padding-left: 5px;
    }

    .car-icon-title-page {
        display: flex;
        align-items: center;
    }

    .aside-menu-list {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: #e2e2e2;

    }


    .product-card {
        margin: 20px;
        border: solid 1px lightgray;
        -webkit-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .product-card img {
        width: 90%;
    }

    .product-card p {
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .price-options {
        border: none;
        width: 30vh;
        margin-bottom: 10px;
    }

    .product-card button {
        background-color: #00579c;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 6px 18px;

    }

    .title-option {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    footer {
        background-color: #012f6b;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }


    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

    ul.pagination li a {
        color: blue;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
    }

    footer {
        display: flex;
        padding: 20px 0;
    }

}

/*Desktop*/

@media (min-width:576px) {
    body {
        display: grid;
        grid-template-areas: "head nav"
            "head main"
            "footer main";
        grid-template-rows: 14% auto 13%;
        grid-template-columns: 10% auto;
        height: 100vh;
    }

    header {
        grid-area: head;
        background-color: #00579c;
        justify-content: center;
        flex-direction: column;
        color: white;
    }

    .car-title-h3 {
        font-family: sans-serif;
        font-size: x-small;
        font-weight: 300;
    }

    .car-icon-title-page {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .aside-menu-list-container {
        display: flex;
        justify-content: center;
    }

    .aside-menu-list {
        list-style: none;
        padding-left: 0;
        display: grid;
        gap: 10px;
        font-family: sans-serif;
        font-size: small;
        font-weight: 300;
    }

    .fa-bars:before,
    .fa-navicon:before {
        display: none;
    }

    .fa-car {
        padding-top: 10px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-family: sans-serif;
        grid-area: nav;
        background-color: #e2e2e2;
    }

    .options-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title-option {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-family: sans-serif;
        font-weight: 300;
    }

    main {
        display: flex;
        justify-content: center;
        grid-area: main;
        background-color: #fff;
        flex-direction: column;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .product-card {
        margin: 20px;
        border: solid 1px lightgray;
        -webkit-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.11);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .product-card img {
        width: 90%;
    }

    .product-card p {
        margin: 5px;
        font-family: sans-serif;
    }

    .price-options {
        width: 170vh;
        height: 35px;
        margin-bottom: 10px;
        border: none;
    }

    .product-card button {
        background-color: #00579c;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 6px 18px;
    }

    ul.pagination {
        display: inline-block;
    }

    ul.pagination li {
        display: inline;
    }

    ul.pagination li a {
        color: blue;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        font-size: xx-small;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-area: footer;
        background-color: #002f6c;
        color: white;
        font-family: sans-serif;
        font-size: small;
        text-align: center;
    }

}